* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("images/background.jpg");
    background-color: #19213a;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

#quiz{
    display: none;
}

h1{
    font-size: 3.5rem;
}

.text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.color-gray{
    background-color: #c9c9c9;
}

.rounded-25{
    border-radius: 25px;
}

.rounded-bottom-25{
    border-radius: 0 0 25px 25px;
}

.window-color{
    background-image: radial-gradient(100% 100% at 100% 0, #3c4e81 0, #2a375a 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-color{
    background: linear-gradient(270deg, rgb(175, 42, 196), rgb(79, 58, 204));
    background-size: 100%;
    transition: background-size 0.5s ease-in-out;
    border-radius: 0 0 25px 25px;
    border: none;
    cursor: pointer;
    border-top: 1px solid #273255c0;
    box-shadow: 0px -7px 8px -5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -7px 8px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -7px 8px -5px rgba(0,0,0,0.1);
}

.inactive{
    background-color: #1e2b4a !important;
}

.btn-color:hover{
    background-size: 300%;
}

.btn{
    width: 100% !important;
    border: none;
}

.custom-option{
    background-color: #1e2b4a;
    color: #fff !important;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1.25rem;
    font-size: 1.1rem;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-option:hover{
    background-color: #4f3acc !important;
    color: #fff !important;
}

.check-icon{
    width: 1.4rem;
    display: inline-block;
    text-align: center;
}

.disable{
    pointer-events: none;
}